<div class="pure-g">
  <div class="pure-u-4-5">

    <% if in_search? %>
      <p>Hay <strong><%= pluralize(@challenges.length, 'reto', 'retos') %></strong> para la cadena <em><%= params[:q] %></em>:</p>
    <% end %>

    <% @challenges.each do |challenge| %>
      <%= render partial: 'challenge', locals: {challenge: challenge} %>
    <% end %>

    <% if previous_page? %>
      <%= link_to('â† Anterior', challenges_path(page: previous_page)) %>
    <% end %>

    <% if next_page? %>
      <%= link_to('Siguiente â', challenges_path(page: next_page)) %>
    <% end %>

    <div class="tools">
      <p><%= link_to("+ Nuevo reto", new_challenge_path) %></p>
    </div>

  </div>

  <div class="pure-u-1-5">
    <%= form_tag challenges_path, method: :get, class: "pure-form" do %>
      <%= search_field_tag :q, params[:q], placeholder: "Busca un reto" %>
    <% end %>
  </div>

</div>
