<div class="pure-g">
  <div class="pure-u-3-5">

    <div class="challenge">
      <h2><%= @challenge.title %></h2>
      <p>
        <%= image_tag @challenge.poster.url %>
      </p>
      <%= simple_format(@challenge.body) %>
    </div>

  </div>

  <div class="pure-u-2-5">

    <div class="support">
      <h3>Apoya con tu firma</h3>
      <%= render 'supports/form' %>
      <strong><%= pluralize(@challenge.supports.count, 'firma', 'firmas') %></strong>
    </div>

  </diV

</div>
