<!DOCTYPE html>
<html>
<head>
  <title>Supports app</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <header>
      <h1><%= link_to('Apoya un reto', challenges_path) %></h1>
    </header>

    <%= flash_message %>

    <%= yield %>
  </div>
</body>
</html>
